# OS
.DS_Store
Thumbs.db

# Python
*.pyc
__pycache__/
.venv/
.env
backend/.env*

# FastAPI uploads and local DB
backend/app/uploads/
backend/zhubanov.db

# Node/Next.js
frontend/node_modules/
frontend/.next/
frontend/.turbo/
frontend/.vercel/
frontend/.env.local
frontend/.env*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/dist/
/build/
.out/

# IDE
.vscode/
.idea/
